/* PHOBS form CSS Document */

#phobs_book {
    padding: 0px;
    margin: 0px;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #000000;
    padding-left: 5px;
}
#phobs_book .booking_naslov {
    font: normal 14px Arial, Helvetica, sans-serif;
}
#phobs_book select {
    font: normal 12px Arial, Helvetica, sans-serif;
    margin-bottom: 3px;
    padding: 1px;
}
#phobs_book .destination, #phobs_book .hotel {
    width: 149px;
}
#phobs_book p {
    padding: 1px 0px;
    margin:0px;
}
#phobs_book .button {
    border: 1px solid #369;
    font: bold 12px Arial, Helvetica, sans-serif;
    color: #003399;
    background-color: #EEE;
    width: 102px;
    padding: 1px;
}
#phobs_book .access_code {
    font: normal 12px Arial, Helvetica, sans-serif;
    width: 130px;
    border: 1px solid #CCC;
}
#phobs_book a.view_cancel {
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #069;
    text-decoration:none;
}
#phobs_book a.view_cancel:hover {
    text-decoration:underline;
    color: Red;
}

